.image_div{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
}

.cars-image{
    transition: all ease .3s;
}

.cars-image:hover{
    transform: scale(1.1);
}

.lineThrov{
    text-decoration: line-through red;
}

.error{
    text-align: center;
}

.shadov{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.171);
}

.stick{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 20px !important;
}

.myPadding{
    padding: 5px 11px;
    font-size: 13px;
    transition: all .3s ease;
}

.myTransition{
    transition: all .5s ease;
}