@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-margin-collapse: collapse;
  user-select: none;
}

header {
  z-index: 999;
}

.fontStyle {
  font-family: "Montserrat", sans-serif;
}

.textStyle {
  font-family: "Montserrat Alternates", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

nav .active {
  color: #e70a32;
}

.full-height {
  height: 100vh !important;
  position: fixed !important;
  top: 0;
  left: 0;
}

.hoverd {
  transition: all 0.5s ease;
}

.hoverd:hover {
  background: #e70a32;
  color: white;
  border-color: #e70a32;
}

.anime {
  animation: anime 1 1s ease;
}

@keyframes anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.motion {
  animation: motion 1 0.5s ease;
  z-index: 20;
}

@keyframes motion {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0%);
  }
}

.animate-text {
  animation: textAnimate 1 ease;
}

@keyframes textAnimate {
  0% {
    font-size: 0px;
  }
  80% {
    font-size: 20px;
  }
  100% {
    font-size: 18px;
  }
}
.responsiver_nav .active {
  @apply bg-gray-200;
}

.loading {
  background-color: #f1f1f1;
  animation: name alternate infinite 1s;
}

@keyframes name {
  from {
    background-color: #f1f1f1;
  }
  to {
    background-color: #c4c4c4;
  }
}

.loader {
  border: 2px solid #e0e0e0;
  width: 100%;
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#ddd, #ddd);
  background-color: #fff;
  background-position: center;
  background-size: 315px 200px, 315px 130px, 100px 100px, 225px 30px;
  background-position: -315px 0, 0 0, 15px 140px, 65px 145px;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 15px 140px, 65px 145px;
  }
}
